:root {
  --gray: #DDDDDD;
  --gray-100: #CCCCCC;
  --gray-200: #777777;
  --gray-300: #999999;
  --white: #FFFFFF;
  --black: #000000;
  --blue: #7695EC;
  --red: #FF5151;
  --green: #47B960;
}

:focus { 
  outline: transparent;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background: var(--gray);
  
  display: flex;
  
  justify-content: center;
  align-items: center;
}